/*! dùng chung */

/* * FONT */
html,
body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
/* !căn giữa thanh navbar giữa web */
header nav {
  /* cần sắp xếp thẻ con nào thì tìm thẻ cha đó rồi xét display: flex 
mặc định element của HTML mặc định xếp theo kiểu blcok, xếp dọc, muốn xếp ngang thì display: flex*/
  display: flex;
  /* muốn thẻ navbar nằm giữa web thì thẻ width của thẻ con phải nhỏ hơn width của thẻ cha */
  width: 70%;
  margin: auto;
  /* justify-content: space-between; */
  align-items: center;
  gap: 80px;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
  padding: 55px 15px;
  font-size: 17px;
}
header li a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
}

header a i {
  font-size: 7px;
}
/* TODO   TRẠNG THÁI TRƯỚC KHI RÊ CHUỘT */
.btn-gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 25px 30px;
  background-color: #f55f8d;
  /* đặt ví trí ban đầu của dài màu nằm ở góc bên trái */
  background-position: left center;

  /* xóa viền */
  border: none;
  /* thay đổi con trỏ chuột 
  thành bàn tay khi di chuyển 
  vào nút bấm */
  cursor: pointer;
  /* phóng to dải màu to ra gấp đôi theo chiều ngang */
  background-size: 200% auto;
  color: white;
  transition: background-position 0.6s ease-in-out;
  border-radius: 18px;
}
/* TODO TRẠNG THÁI SAU KHI RÊ CHUỘT */
.btn-gradient:hover {
  background-position: right center;
}
.carousel {
  background-image: url("./img/pic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  /* position: relative; */
  display: flex;
  padding-left: 15%;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  /* justify-content: space-between; */
  gap: 100px;
  margin: auto;
}
.carousel_content {
  margin-top: 25px;
  margin-bottom: 25px;
}
.carousel_content h1 {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.carousel_content p {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 15px;
}
.carousel_content h2 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 200;
}
.carousel_image img {
  margin-bottom: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: content;
  max-width: 500px;
  margin: auto;
}
/* list-style phải đặt vào thẻ ul hoặc li mới có tác dụng */
.carousel_effect {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.carousel_effect a {
  text-decoration: none;

  color: black;
  font-weight: 200;
  margin-bottom: 20px;
}
.carousel_effect i {
  /* tạo hình tròn gradient */
  background-image: linear-gradient(to right, #f55f8d, #f8ae56 51%);
  color: white;
  /* kích thước và hình dạng */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  /* căn giữa icon bên trong */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* khoảng cách với chữ */
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
.btn-gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 25px 30px;
  background-color: #f55f8d;
  /* đặt ví trí ban đầu của dài màu nằm ở góc bên trái */
  background-position: left center;

  /* xóa viền */
  border: none;
  /* thay đổi con trỏ chuột 
  thành bàn tay khi di chuyển 
  vào nút bấm */
  cursor: pointer;
  /* phóng to dải màu to ra gấp đôi theo chiều ngang */
  background-size: 200% auto;
  color: white;
  transition: background-position 0.6s ease-in-out;
  border-radius: 28px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* TODO TRẠNG THÁI SAU KHI RÊ CHUỘT */
.btn-gradient:hover {
  background-position: right center;
}
.digital_content {
  display: flex;
  flex-direction: column;
  color: #f55f8d;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.digital_showcase {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
}
.digital_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  gap: 30px;
}
.digital_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* /* Tạo độ mượt 0.5 giây cho hiệu ứng thay đổi (Quan trọng) */
  transition: all 0.5s ease;
  border: 5px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.digital_item img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: contain;

  /* Mặc định cho phép phóng to nếu bạn muốn */

  box-sizing: border-box;

  border-radius: 10px;
  display: block;
  margin: auto;
}
.digital_item:hover {
  transform: translateY(-20px);
  background-color: white;
  transition: all 0.5s ease;
  border-image: url(../css/img/br.png) 1/1/0 round;
}
.about {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
  width: 100%;
  max-width: 1600px;
  gap: 50px;
  margin-bottom: 50px;
  background-image: url(./img/bg15.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100%;
}
.about img {
  border-radius: 0 100px 100px 0;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 700px;
}
.about span {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 15px;
  display: block;
}
.about h2 {
  font-size: 70px;
  color: #262626;
  display: block;
  margin-bottom: 15px;
  /* width: 100%; */
}
.about p {
  font-size: 16px;
  color: #636363;
  display: block;
  margin-bottom: 15px;
}
.about ul {
  list-style: none;
  color: #636363;
}
.about a {
  text-decoration: none;
  font-size: 16px;
}
.about i {
  /* tạo hình tròn  */
  background-image: color;
  align-items: center;
  height: 50px;
  width: 20px;
  color: #f55f8d;
}
