/*! dùng chung */

/* * FONT */
html,
body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
/* !căn giữa thanh navbar giữa web */
header nav {
  /* cần sắp xếp thẻ con nào thì tìm thẻ cha đó rồi xét display: flex 
mặc định element của HTML mặc định xếp theo kiểu blcok, xếp dọc, muốn xếp ngang thì display: flex*/
  display: flex;
  /* muốn thẻ navbar nằm giữa web thì thẻ width của thẻ con phải nhỏ hơn width của thẻ cha */
  width: 70%;
  margin: auto;
  /* justify-content: space-between; */
  align-items: center;
  gap: 80px;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
  padding: 55px 15px;
  font-size: 17px;
}
header li a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
}

header a i {
  font-size: 7px;
}
/* TODO   TRẠNG THÁI TRƯỚC KHI RÊ CHUỘT */
.btn-gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 25px 30px;
  background-color: #f55f8d;
  /* đặt ví trí ban đầu của dài màu nằm ở góc bên trái */
  background-position: left center;

  /* xóa viền */
  border: none;
  /* thay đổi con trỏ chuột 
  thành bàn tay khi di chuyển 
  vào nút bấm */
  cursor: pointer;
  /* phóng to dải màu to ra gấp đôi theo chiều ngang */
  background-size: 200% auto;
  color: white;
  transition: background-position 0.6s ease-in-out;
  border-radius: 18px;
}
/* TODO TRẠNG THÁI SAU KHI RÊ CHUỘT */
.btn-gradient:hover {
  background-position: right center;
}
.carousel {
  background-image: url("./img/pic2.png");
  background-repeat: no-repeat;

  /* background-position: center right; */
  height: 900px;
  /* position: relative; */
  display: flex;
  padding-left: 15%;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  /* justify-content: space-between; */
  gap: 100px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}
.carousel_content {
  margin-top: 25px;
  margin-bottom: 25px;
}
.carousel_content h1 {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.carousel_content p {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 15px;
}
.carousel_content h2 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 200;
}
.carousel_image img {
  margin-bottom: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: content;
  max-width: 500px;
  margin: auto;
}
/* list-style phải đặt vào thẻ ul hoặc li mới có tác dụng */
.carousel_effect {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.carousel_effect a {
  text-decoration: none;

  color: black;
  font-weight: 200;
  margin-bottom: 20px;
}
.carousel_effect i {
  /* tạo hình tròn gradient */
  background-image: linear-gradient(to right, #f55f8d, #f8ae56 51%);
  color: white;
  /* kích thước và hình dạng */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  /* căn giữa icon bên trong */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* khoảng cách với chữ */
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
/* !TRẠNG THÁI TRƯỚC KHI RÊ CHUỘT */
.btn-gradient {
  background-image: linear-gradient(
    to right,
    #f55f8d,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 25px 30px;
  background-color: #f55f8d;
  /* đặt ví trí ban đầu của dài màu nằm ở góc bên trái */
  background-position: left center;

  /* xóa viền */
  border: none;
  /* thay đổi con trỏ chuột 
  thành bàn tay khi di chuyển 
  vào nút bấm */
  cursor: pointer;
  /* phóng to dải màu to ra gấp đôi theo chiều ngang */
  background-size: 200% auto;
  color: white;
  transition: background-position 0.6s ease-in-out;
  border-radius: 28px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* TODO TRẠNG THÁI SAU KHI RÊ CHUỘT */
.btn-gradient:hover {
  background-position: right center;
}
.digital_content {
  display: flex;
  flex-direction: column;
  color: #f55f8d;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.digital_showcase {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
}
.digital_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  gap: 30px;
}
.digital_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* /* Tạo độ mượt 0.5 giây cho hiệu ứng thay đổi (Quan trọng) */
  transition: all 0.5s ease;
  border: 5px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.digital_item img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: contain;

  /* Mặc định cho phép phóng to nếu bạn muốn */

  box-sizing: border-box;

  border-radius: 10px;
  display: block;
  margin: auto;
}
.digital_item:hover {
  transform: translateY(-20px);
  background-color: white;
  transition: all 0.5s ease;
  border-image: url(../css/img/br.png) 1/1/0 round;
}
.about {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
  background-image: url(./img/bg15.png);
  background-repeat: no-repeat;
  /* height: 900px; */
  padding-left: 5%;
  box-sizing: border-box;
  gap: 100px;
  margin: auto;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.about img {
  border-radius: 0 100px 100px 0;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 750px;
}
.about span {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 15px;
  display: block;
}
.about h2 {
  font-size: 70px;
  color: #262626;
  display: block;
  margin-bottom: 15px;
  /* width: 100%; */
}
.about p {
  font-size: 16px;
  color: #636363;
  display: block;
  margin-bottom: 15px;
}
.about ul {
  list-style: none;
  color: #636363;
}
.about a {
  text-decoration: none;
  font-size: 16px;
}
.about i {
  /* tạo hình tròn  */
  background-image: color;
  align-items: center;
  height: 50px;
  width: 20px;
  color: #f55f8d;
}
.number {
  background-image: url(./img/bg14.png);
  padding: 10px 0 30px 0;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px;
}
.number_content {
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 15px;
}
.number p {
  font-size: 65px;
}
.number a i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background: linear-gradient(to bottom right, #f89865, #f55f8d);
  align-items: center;
  justify-content: center;
  display: flex;
}
.number a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #f55f8d;
  font-weight: 800;
}
.story {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 40px;
}
.story_content {
  margin-bottom: 30px;
}
.story_content span {
  color: #f55f8d;
  font-size: 22px;
  margin-bottom: 30px;
  display: block;
}
.story_content h2 {
  font-size: 50px;
  color: #262626;
  margin-bottom: 100px;
}
.story i {
  font-size: 40px;
}
/*!TRƯỚC KHI HOVER */
.story_card {
  display: flex;
  align-items: center;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.08);
  border: 10px transparent;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  transition: 1s ease-in-out;
}
/* !SAU KHI HOVER */
.story_card:hover {
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  box-shadow: 10px 5px 40px rgba(0, 0, 0, 0.08);
  color: white;
  transform: translateX(10px);
  cursor: pointer;
}
.story_card:hover i {
  color: white;
}
/* !HIỆU ỨNG FLOATING CHO IMG */
.story_right img {
  height: 600px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(-10px) rotate(1deg);
  }

  50% {
    transform: translateY(-20px) rotate(0deg);
  }

  75% {
    transform: translateY(-10px) rotate(-1deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
.story_card h2 {
  font-weight: 500;
}
.story_card p {
  font-weight: 100;
}
/* card 1 */
.story_card:nth-child(2) {
  margin-right: 50px;
}
/* card 2 */
.story_card:nth-child(3) {
  margin-left: 50px;
}
/* card 3 */
.story_card:nth-child(4) {
  margin-right: 50px;
}
.story_card i {
  font-size: 50px;
  color: #f55f8d;
  min-width: 10px;
}

/* !PORTFOLIO */
.portfolio {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}
.portfolio_content {
  text-align: center;
  margin-bottom: 40px;
}
.portfolio_content span {
  color: #f55f8d;
  margin-bottom: 20px;
  display: block;
  font-weight: 900;
}
.portfolio_content h2 {
  font-size: 70px;
  display: block;
}
.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 300px;
  gap: 16px;
}

.portfolio_item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.portfolio_item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.portfolio_item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.portfolio_item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.portfolio_item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio_item:nth-child(6) {
  grid-column: 1/3;
  grid-row: 3/4;
}
.portfolio_item {
  position: relative;
  overflow: hidden;
}
/* !LỚP TRÁNG GƯƠNG */
.portfolio_item::before {
  content: "";
  top: 0;
  left: -100%;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);

  transform: skewX(-25deg);
  transition: 0.7s;
  /* z-index: 1; */
  position: absolute;
}
.portfolio_item:hover::before {
  left: 130%;
}

.portfolio_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* !TRƯỚC KHI HOVER-PORTFOLI0 */
.portfolio_item i {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  position: absolute;
  background: linear-gradient(to bottom right, #f55f8d, #f8ae56);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 3;
  transition: 0.4s ease-in-out;
}
/* !TEXT GÓC DƯỚI TRÁI */
.portfolio_info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: 0.4s ease-in-out;
  z-index: 3;
}

.portfolio_info h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.portfolio_info p {
  font-size: 14px;
  font-weight: 300;
}
/* !OVERLAY TỐI */

.portfolio_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  transition: 0.4s ease-in-out;
}

/* !HIỆN HOVER */

.portfolio_item:hover .portfolio_info {
  opacity: 1;
}
.portfolio_item:hover i {
  opacity: 1;
}

/* !SAU KHI HOVER */
.portfolio_item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.5s;
  opacity: 1;
  /* !CSS BLOG */
}
.blog_title {
  display: block;
  align-items: center;
  text-align: center;
}
.blog_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
}
.container {
  background: #feeff3;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog_img {
  position: relative;
}
.date_badge {
  background: linear-gradient(to bottom right, #f55f8d, #f8ae56);
  border-radius: 5px;
  color: white;
  position: absolute;
  bottom: -5px;
  left: 5px;
  font-size: 25px;
  width: 120px;
  height: 40px;
}
.date_badge span {
  font-size: 15px;
  display: flex;
  margin: 10px 5px;
}

.blog_img img {
  width: 370px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}
.blog_badge {
  position: absolute;
}
.card_content h3 {
  font-size: 25px;
  align-items: center;
  font-weight: 800;
  padding: 0 20px;
}
.card_meta i {
  color: #f55f8d;
}
.card_content p {
  font-size: 15px;
  padding: 0 20px;
}
.card_meta {
  padding: 20px 20px;
}

.blog_title h2 {
  font-size: 70px;
  font-weight: 800;
  color: rgb(38, 38, 38);
  margin-bottom: 20px;
}
.blog_title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(245, 95, 141);
}
.newsletter {
  display: block;

  width: 100%;

  gap: 100px;
  background-image: url("./img/pattern2.png");
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  background-position: top center;
  position: relative;
  background-size: contain;
}
.newsletter_content {
  margin-bottom: 100px;
  display: flex;
  margin: 0 auto;
  gap: 200px;
  width: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 120px;
  align-items: center;
  padding: 20px;
  background-image: url("./img/pattern3.png");
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.newsletter_form input {
  font-size: 20px;
  height: 40px;

  border-radius: 7px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.newsletter_form button {
  font-size: 20px;
  width: 40px;
  height: 35px;
  color: white;
  background: linear-gradient(to bottom right, #f55f8d, #f8ae56);
  border: none;
  border-radius: 10px;
}
.newsletter_form button i {
  font-size: 20px;
}
/* !FOOTER */
.footer {
  background-image: url("./img/bg4.png");
  padding-bottom: 50px;
  height: 100%;
  margin-top: 70px;
}
.footer_container {
  display: flex;
  width: 1200px;
  margin: 40px auto;
  gap: 200px;
}
.footer_info {
  color: white;
  display: flex;
  gap: 200px;
}
.sammar {
  display: block;
  flex-direction: row;
  align-items: center;
  list-style: none;
  word-spacing: 2px;
  line-height: 1.8;
}
.sammar i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}
.sammar_icon {
  display: flex;
  gap: 20px;
}

.icon {
  display: flex;
}
.phone {
  display: flex;
  align-items: center;
  text-align: center;
}

.footer_outlinks {
  display: flex;

  gap: 100px;
}
.footer_outlinks a {
  text-decoration: none;
  color: white;
}
.title_links {
  list-style: none;
  line-height: 1.8;
}
.title_services {
  list-style: none;
  line-height: 1.8;
}
.title_other {
  list-style: none;
  line-height: 1.8;
}
